/* primo quadrato */
.ex-1-square {
    transition: 2s;
}
.ex-1-square:hover {
    background: red;
}  
/* secondo quadrato */
.ex-2-square {
    transition: 3s;
}
.ex-2-square:active {
    width: 100%;
}
/* terzo quadrato */
.ex-3-square {
    transition: 3s;
}
.ex-3-square:hover {
    border-radius: 100%;
}
/* quarto quadrato */
.ex-4-square {
    transition: 3s;
}
.ex-4-square:hover {
    opacity: 0;
}
/* quinto quadrato */
.ex-5-square {
    transition: 2s;
}
.ex-5-square:hover {
    transform: scale(3);
}
.ex-5-square:active {
    transform: scale(1);
}
/* prima immagine */
.ex-6-img:hover {
    filter: grayscale(2);
}
/* seconda immagine */
.ex-7-img {
    transition: 2s;
}
.ex-7-img:hover {
    filter: grayscale(.5) sepia(.5);
}
/* terza immagine */
.ex-8-img {
    transition: 2s;
}
.ex-8-img:hover {
    filter: grayscale(.5) sepia(.5);
    border-radius: 20px;
}
/* quarta immagine */
.ex-9-img {
    transition: 2s;
}
.ex-9-img:hover {
    filter: grayscale(.5) sepia(.5);
    border-radius: 20px;
    transform: scale(2);
}
/* primo cerchio */

